[user]
  name = Yuval Saraf
  email = yuvalsaraf@gmail.com

[pull]
  rebase = true

[core]
  editor = code --wait

[init]
  defaultBranch = master

[diff]
  tool = nvimdiff

[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[merge]
  tool = vscode

[mergetool "vscode"]
  cmd = code --wait $MERGED
